<p id="notice" class="alert alert-primary alert-dismissible"><%= notice %>
  <button type="button" class="close" data-dismiss="alert">×</button>
</p>
<div class="container jumbotron py-3">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="mb-0 display-4">Cocktails</h1>
    <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-primary sticky-top" %>
  </div>
  <hr>
  <a href="<%=  %>"></a>
  <div class="row justify-content-center">
    <!-- col- elements here -->
    <% @cocktails.each do |cocktail| %>
      <div class="col-3 m-3 border p-0 shadow">
        <!-- Content -->
        <div class="d-flex align-items-center justify-content-between bg-dark p-2 rounded">
          <div class="d-flex align-items-center justify-content-start">
            <h5 class="mb-0"><%= link_to cocktail.name, cocktail, class: "text-light" %></h5>
            <%= link_to "#demo", class: "btn btn-dark square d-flex ml-1 align-items-center text-center", :'data-toggle' => "collapse" do %>
              <i class="fas fa-angle-down"></i>
            <% end %>
          </div>
          <div>
            <%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark square" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <%= link_to edit_cocktail_path(cocktail), class: "btn btn-dark square" do %>
              <i class="fas fa-cog"></i>
            <% end %>
          </div>
        </div>
        <!-- INGREDIENTS  -->
        <div id="demo" class="collapse show">
          <div class="pt-2 mx-3">
            <div class="d-flex justify-content-between align-items-center m-1">
              <h5 class="mb-0 border-bottom text-secondary">Ingr<span class="text-primary">e</span>dients</h5>
              <%= link_to new_cocktail_dose_path(cocktail), class: "ml-2 text-primary" do %>
                <i class="fas fa-plus-square"></i>
              <% end %>
            </div>
            <div class="container mt-3">
              <ul>
                <% cocktail.doses.each do |dose| %>
                  <li class="d-flex justify-content-between align-items-center">
                    <div>
                      <strong><%= dose.ingredient.name %></strong> -
                      <span class="text-secondary"><%= dose.description %></span>
                    </div>
                    <%= link_to delete_dose_path(dose), method: :delete, url: delete_dose_path(dose), data: { confirm: 'Are you sure?' }, class: "btn-sm text-secondary" do %>
                      <i class="fas fa-times-circle"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- ADD doses here -->
      </div>
    <% end %>
  </div>
</div>